


<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-4">
                    <img class="logo" src="~/images/white logo.png" alt="">
                </div>
                <div class="col-lg-2">
                    <h5 class="text-white">Sections</h5>
                    <ul class="list-unstyled">
                        <li><a asp-action="Index">Home</a></li>
                        <li><a asp-action="Officespaceacquisition">Services</a></li>
                        <li><a asp-action="features">Why IAdvise?</a></li>
                        <li><a asp-action="ourpackages">Our Packages</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h5 class="text-white">More</h5>
                    <ul class="list-unstyled">
                        <li><a href="#includes">Features</a></li>
                        <li><a asp-action="FAQ">FAQ</a></li>
                        <li><a href="#testimonial">Testimonial</a></li>
                        <li><a asp-action="contactus">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h5 class="text-white">Contact</h5>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fas fa-envelope"></i>
                            <span>Email:</span> <a href="mailto:info@iadvise.vip">info@iadvise.vip</a>
                        </li>
                        <li>
                            <i class='bx bxl-whatsapp'></i>
                            <span>Phone:</span> <a href="tel:+971 50 255 9262">+971 50 255 9262</a>
                        </li>
                        <li>
                            <i class="fas fa-globe"></i>
                            <span>Adress:</span> <a>001-30309 IFZA Business Park DDP Dubai Silicon Oasis UAE</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="social-icons">
                        <a href="https://web.facebook.com/profile.php?id=100094889778025"><i class='bx bxl-facebook'></i></a>
                        <a href="https://www.linkedin.com/in/iadvise-business-setup-b4688b284"><i class='bx bxl-linkedin'></i></a>
                        <a href="https://www.instagram.com/iadvise.uae/"><i class='bx bxl-instagram-alt'></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</footer>