<header class="sticky-top">
    <nav class="navbar navbar-expand-lg   sticky-top  navbar-light bg-warning">
        <div class="container">
            <a asp-action="Index" class="navbar-brand">
                <img class="logo" src="~/images/test22.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item ">
                        <a class="nav-link text-black" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                       @if (User.IsInRole(SD.Role_Admin))
                    {
                        <li class="nav-item ">
                            <a class="nav-link text-black" asp-area="Admin" asp-controller="Feature" asp-action="Admin">Dashboard</a>
                        </li>

                        @*<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-black" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Content Managment
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">

                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="iconservice" asp-action="index">Service</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Header" asp-action="index">Header</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="WhyUs" asp-action="index">Why Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="package" asp-action="index">Package </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Feature" asp-action="index">Feature</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="FeatureTest" asp-action="index">Feature Test</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="FAQ" asp-action="index">FAQ </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="testimonial" asp-action="index">Testimonial </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="AboutUs" asp-action="index">About Us </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="ContactUs" asp-action="index">Contact Us</a>
                                    </li>
                                    <li class="nav-item">
                                       <a class="dropdown-item" asp-area="Admin" asp-controller="Feature" asp-action="Admin">Dashboard</a>
                                     </li>




                            </ul>
                        </li>*@
                    }
                    <li class="nav-item dropdown">

                        @await Component.InvokeAsync("Service")

                    <li class="nav-item">
                        <a class="nav-link text-black" asp-area="Customer" asp-controller="Home" asp-action="PackagePage">Our Packages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" asp-area="Customer" asp-controller="Home" asp-action="FAQ">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" asp-area="Customer" asp-controller="Home" asp-action="AboutUs">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" asp-area="Customer" asp-controller="Home" asp-action="ContactUs">Contact Us </a>
                    </li>

                    <li class="nav-item">

                        <a class="nav-link text-black" href="tel:+971 50 255 9262"> <i class="fa-solid fa-phone"></i> +971 50 255 9262</a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

</header>