@model PackageContentVM

<div class="container">
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Edit Package Content</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <form method="post" class="row" enctype="multipart/form-data">
                <input asp-for="packageContent.Id" hidden />
              

                <div class="row">
                    <div class="col-10">
                        <div class="border p-3">
                            <div asp-validation-summary="All"></div>
                            <div class="form-floating py-2 col-12">
                                <textarea asp-for="packageContent.Title" class="form-control border-0 shadow"></textarea>
                                <label asp-for="packageContent.Title" class="ms-2"></label>
                                <span asp-validation-for="packageContent.Title" class="text-danger"></span>
                            </div>
                            <div class="form-floating py-2 col-12">
                                <select asp-for="@Model.packageContent.packagetId" asp-items="@Model.PackageList" class="form-select border-0 shadow">
                                    <option disabled selected> -- Select Package --</option>

                                </select>
                                <label asp-for="packageContent.packagetId" class="ms-2"></label>
                                <span asp-validation-for="packageContent.packagetId" class="text-danger"></span>
                            </div>

                            <div class="form-floating py-2 col-12">
                                <input asp-for="packageContent.Icon" class="form-control border-0 shadow" />
                                <label asp-for="packageContent.Icon" class="ms-2"></label>
                                <span asp-validation-for="packageContent.Icon" class="text-danger"></span>
                            </div>
                            <div class="row pt-2">
                                <div class="col-6 col-md-3">
                                    <button type="submit" class="btn btn-danger form-control">Edit</button>
                                </div>
                                <div class="col-6 col-md-3">
                                    <a asp-controller="PackageContent" asp-action="Index" class="btn btn-warning  form-control">
                                        Back to List
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>




            </form>
        </div>
    </div>
</div>




@* _Validation for client side*@
@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }

}








